body{

    background-image: linear-gradient( to right,#e2f1d5, #fff, #e2f1d5);
                
}
  
.cadastro{
  
    width: 500px;
    text-align: center;
    position: relative;
    top: 10px;
    left: 100px;/*vou meixer aqui ainda*/
                
}
  
.pai-div{
                
    background-image: linear-gradient( to right,#e2f1d5, #fff, #e2f1d5);
    display:flex;
    width: 1100px;
               
  
}
    
.cliente{

    width: 300px;
    position: relative;
    top: 0px;
    left: 80px;
    text-align: center;
    display:block ;
                
}
  
.endereco{
  
    width: 500px;
    font-size: 26px;
                
}
  
.container{                
                
    background-color: rgb(0, 0, 0);
               
}

.login{

    align-items:center;
    width: 300px;
    height: 100px;
                
  
}
  
.Email8{

    width: 400px;
    align-content: center;
                
}
              
              