html[data-theme='light']{
    --bg: linear-gradient( to right,#e2f1d5, #fff, #e2f1d5);
    --bg-div: rgb(248, 249, 250);
    --text: black;
    --bg-cards: rgb(255, 255, 255);
    --color-dot: #bbb;
    --color-shadow: rgb(233, 233, 233);
    --cartext: black;
    --carbtn: rgb(248, 249, 250);
    --reetext:  rgb(80, 80, 80);
    --transitiontheme:color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out
}

html[data-theme='dark']{
    --bg: linear-gradient( to right,rgb(37, 41, 53), rgb(38, 38, 41), rgb(37, 41, 53));
    --bg-div: rgb(33, 37, 41);
    --text: white;
    --bg-cards: rgb(53, 57, 61);
    --color-dot: #bbb;
    --color-shadow: rgba(0, 0, 0, 0.356);
    --cartext: #bbb;
    --carbtn: rgb(53, 57, 61);
    --reetext: #bbb;
    --transitiontheme:color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .25s ease-in-out
}

h1 {
    text-align: left;
    color: black;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background: var(--bg);
    color: var(--text);
    /*background-image: linear-gradient( to right,#e2f1d5, #fff, #e2f1d5);*/
}

.textCarrinho{
    height: 9px;
    color: var(--cartext);
}

.headerfooter{
    background-color: var(--bg-div)
}

.navbar{
    box-shadow: 0px 0px 10px var(--color-shadow);
    transition: var(--transitiontheme);
}

.btn-light{
    transition: var(--transitiontheme);
}

.btn-dark{
    transition: var(--transitiontheme);

}

.meuspedidos{
    height: 8cm;
    padding-right: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.carrinho{
    display: flexbox;
    width: 700px;
    height: 310px;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 7px;
    /*background-color: rgb(228, 228, 228);*/
    background-color: var(--bg-div);
    color: var(--text);
    font: sans-serif;
    margin-left: 150px;
    box-shadow: 1px 1px 4px var(--color-shadow);
    transition: var(--transitiontheme);
}

.bananaimage{
    width: 140px;
    display: table-cell
}

.produtobanana{
    display: table-cell;
    float: left;
    width: 200px;
    height: 25px;
    font: normal 10pt sans-serif;
}

.produtobanana p{
    margin-bottom: 40px;
}

.produtobanana s{
    color: #dc3545;
}

.pedido1{
    width: 684px;
    display: table;
    border: 1px solid transparent;
    background-color: var(--bg-cards);
    padding: 8px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px var(--color-shadow);
    transition: var(--transitiontheme);
}

.abacateimage{
    width: 140px;
    display: table-cell;
    border-radius: 30%;
}

.produtoabacate{
    display: table-cell;
    float: left;
    width: 200px;
    height: 25px;
    font: normal 10pt sans-serif;
}

.produtoabacate p{
    margin-bottom: 40px;
}

.produtoabacate s{
    color: rgb(220, 53, 69);
}

.pedido2{
    display: table;
    width: 684px;
    border: 1px solid transparent;
    background-color: var(--bg-cards);
    padding: 8px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px var(--color-shadow);
    transition: var(--transitiontheme);
}

.trashbutton1 button{
    float: right;
    border: none;
    background-color: transparent;
    margin-right: 18px;
}

.trashbutton2 button{
    float: right;
    border: none;
    background-color: transparent;
    margin-right: 18px;
}

.selectquantidade1 {
    width: 60px;
    background-color: rgb(220, 53, 69);
    display: flex;
    border-radius: 10px 5px 8px;
    margin-left: 450px;
    float: right;
    font-family: serif;
    font-family: serif;
    color: white;
}

.selectquantidade1 button{
    background-color: transparent;
    border: none;
}
.qtmenos1{
    margin-right: 5px;
    font-family: serif;
    font-family: serif;
    color: white;
}

.qtitem1{
    height: 0px;
    width: 12px;
}

.qtmais1{
    margin-left: 5px;
    font-family: serif;
    color: white;
}

.selectquantidade2 {
    width: 60px;
    background-color: rgb(220, 53, 69);
    display: flex;
    border-radius: 10px 5px 8px;
    margin-left: 450px;
    float: right;
    font-family: serif;
    color: white;
}

.selectquantidade2 button{
    background-color: transparent;
    border: none;
    font-family: serif;
    color: white;
}

.qtmenos2{
    margin-right: 5px;
    
}

.qtitem2{
    height: 0px;
    width: 12px;
}

.qtmais2{
    margin-left: 5px;
}

input {
    margin: .4rem;
}

img{
    border-radius: 3px;
}

.resumo{
    /*position: fixed;*/
    margin-bottom: 100px;
    left: 23.3cm;
    width: 330px;
    height: 277px; /*277px*/
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 5px;
    background-color: var(--bg-div);
    color: var(--text);
    font: sans-serif;
    box-shadow: 1px 1px 4px var(--color-shadow);
    transition: var(--transitiontheme);
}

.listasresumo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: var(--bg-cards);
    box-shadow: 1px 1px 4px var(--color-shadow);
    transition: var(--transitiontheme);
    text-align: right;
}
/*
.subtotalValor{
    height: 26px;
    width: 40px;
    margin: 0;
    padding: 0;
    background-color: rgba(238, 130, 238, 0.151);
}

.envioValor{
    height: 26px;
    width: 40px;
    margin: 0;
    padding: 0;
    background-color: rgba(238, 130, 238, 0.151);
}*/
.listasresumo ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listaresumo ul li{
    margin-top: 7px;
    width: 50px;
} 

.totaltotal{
    height: 50px;
    margin-bottom: 23px;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: var(--bg-cards);
    justify-content: space-between;
    display: flex;
    box-shadow: 1px 1px 4px var(--color-shadow);
    transition: var(--transitiontheme);
}

.totaltotal ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btnresumo{
    width: 8.4cm;
}

.divinformacoes{
    display: flex;
    width: 700px;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 5px;
    background-color: var(--bg-div);
    color: var(--text);
    font: sans-serif;
    margin-left: 150px;
    box-shadow: 1px 1px 4px var(--color-shadow);
    transition: var(--transitiontheme);
}

.formasdepagamento{
    border-right: 1px solid var(--reetext);
    font: sans-serif;
    margin-top: 5px;
    width: 50%;
    text-align: center;
    transition: var(--transitiontheme);
}
    
.formasdepagamento ul{
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

li {
    margin: 10px;
    text-align: -webkit-match-parent;
}

.protecaoaoconsumidor{
    font: sans-serif;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    width: 50%;
}

.reembolso{
    font-size: 10pt;
    color: var(--reetext);
    transition: var(--transitiontheme);
}

.levetambem{
    border-radius: 6px;
    padding-left: 20px;
    padding-top: 8px;
    background-color: var(--bg-div);
    margin-left: 150px;
    width: 700px;
    height: 300px;
    box-shadow: 1px 1px 4px var(--color-shadow);
    transition: var(--transitiontheme);
}

.levetambem h6{
    font: sans-serif;
}


.imgssugest{
    margin-left: 10px;
    display: flex;
}

.sugestao1{
    border-radius: 5%;
    border: none;
    /*background-color: rgba(255, 255, 255, 0.658);*/
    background-color: var(--bg-cards);
    margin: 5px;
    padding: 10px;
    width: 150px;
    font: normal 10pt sans-serif;
    box-shadow: 1px 1px 4px var(--color-shadow);
    color: var(--text);
    transition: var(--transitiontheme);
}

.sugestao1 s{
    color: #dc3545;
}

.valoressugest1{
    margin-left: 2px;
    text-align: left;
}

.sugestao2{
    border-radius: 5%;
    border: none;
    background-color: var(--bg-cards);
    margin: 5px;
    padding: 10px;
    width: 150px;
    font: normal 10pt sans-serif;
    box-shadow: 1px 1px 4px var(--color-shadow);
    color: var(--text);
    transition: var(--transitiontheme);
}

.sugestao2 s{
    color: #dc3545;
}

.valoressugest2{
    margin-left: 2px;
    text-align: left;
}

.sugestao3{
    border-radius: 5%;
    border: none;
    background-color: var(--bg-cards);
    margin: 5px;
    padding: 10px;
    width: 150px;
    font: normal 10pt sans-serif;
    box-shadow: 1px 1px 4px var(--color-shadow);
    color: var(--text);
    transition: var(--transitiontheme);
}

.sugestao3 s{
    color: #dc3545;
}

.valoressugest3{
    margin-left: 2px;
    text-align: left;
}

.sugestao4{
    border-radius: 5%;
    border: none;
    background-color: var(--bg-cards);
    margin: 5px;
    padding: 10px;
    width: 150px;
    font: normal 10pt sans-serif;
    box-shadow: 1px 1px 4px var(--color-shadow);
    color: var(--text);
    transition: var(--transitiontheme);
}

.sugestao4 s{
    color: #dc3545;
}

.valoressugest4{
    margin-left: 2px;
    text-align: left;
}

.dot{
    position: fixed;
    height: 30px;
    width: 30px;
    background-color: var(--color-dot);
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: var(--transitiontheme);
}

.center {
    margin-left: 5px;
}
