h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    color: white;
    background-size: 100%;
}

.textopreto{
    color: black;
}

.textobranco{
    color: white;
}