*{
    margin: 0;
    padding: 0;

}

body{

    background-image: linear-gradient( to right,#e2f1d5, #fff, #e2f1d5);
    background: var(--bg);
    color: var(--text);
}

.button{

    text-decoration:none ;
    color: rgb(255, 255, 255);

}

.Menu-principal{

    width: 830px;/*almentar o tamanho da fonte*/
    height: auto;
    font-family: arial;
    margin: 80px auto;
  
}

.item label{

    display: block;
    padding: 10pt;
    background-color: #434343;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    border-bottom: solid 2px #aaa;

}
.item label:hover {

    background-color: #DB4D3F;
}
  
.item ul{

    width: 100%;
    list-style: none;
    overflow: hidden;
    max-height: 0;/*aqqui*/
    transition: all .4s linear;

}

.item input{

    display: none;

}

.item ul li a{

    width: 100%; 
    height: 70px;
    padding: 15px; /*centraliza a frase na resposta*/
    display: block;
    text-decoration: none;
    background-color: slategray;
    color: rgb(255, 255, 255) ;
    border-bottom: solid 2px ; /*linha de baixo do home*/
}
    
.item ul li a:hover{

    background-color: #9cf;
}

.item input:checked ~ ul{

    height: auto;
    max-height: 200px;
    transform: all;

}
/*tema escuro*/

html[data-theme='light']{
    --bg: linear-gradient( to right,#dbf0ca, #fff, #dbf0ca);
    --bg-div: rgb(248, 249, 250);
    --text: black;
    --bg-cards: rgb(255, 255, 255);
    --color-dot: #bbb;
    --color-shadow: rgb(223, 223, 223);
    --transitiontheme:color .25s ease-in-out, background-color .25s ease-in-out, border-color .5s ease-in-out, box-shadow .25s ease-in-out
}

html[data-theme='dark']{
    --bg:  linear-gradient( to right,rgb(37, 41, 53), rgb(38, 38, 41), rgb(37, 41, 53));
    --bg-div: rgb(33, 37, 41);
    --text: white;
    --bg-cards: rgb(53, 57, 61);
    --color-dot: rgb(58, 60, 66);
    --color-shadow: rgb(0, 0, 0);
    --transitiontheme:color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .25s ease-in-out
}

.dot{
    position: fixed;
    height: 30px;
    width: 30px;
    background-color: var(--color-dot);
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px var(--color-shadow);
    transition: var(--transitiontheme);
}

.navbar{
    box-shadow: 0px 0px 10px var(--color-shadow);
    transition: var(--transitiontheme);
}



.center{
    margin-left: 5px;
}

.btn-light{
    transition: var(--transitiontheme);
}

.btn-dark{
    transition: var(--transitiontheme);

}
.cardcustom{

    background-color: var(--bg-cards);
    box-shadow: 1px 1px 4px var(--color-shadow);
    transition: var(--transitiontheme);
}

.headerfooter{

    background-color: var(--bg-div);
    transition: var(--transitiontheme);
}
    
