*{
    padding: 0%;   
    display: flexbox;
    

}

html{
    scroll-behavior: smooth;
}


.row {
        display: flex;
        text-align: justify;
        margin: 0;
        width: 30;
        flex-wrap: wrap;
        justify-content: space-around;
        background-image: linear-gradient( to right,#e2f1d5, #fff, #e2f1d5);
        
}

.col-2{
        flex-basis: 50%;
        min-width: 300px;
}

.col-2 img{
        max-width: 100%;
        padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn-1{
    display: inline-block;
    background-color: rgb(235, 78, 78);
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration:none ;
    color: rgb(255, 255, 255);   
}

#MV{
    background-image: linear-gradient( to right,#e2f1d5, #fff, #e2f1d5);
    
}


#MV h1{
    text-justify:auto;
    text-align: center;
    
}

.card {
    display: inline-block;
    padding: 20px;
    text-align: center;
    
}

#Novidades{
    background-image: linear-gradient( to right,#e2f1d5, #fff, #e2f1d5);
}

#Novidades h1{
    text-align: center;
}

#Blog{
    background-image: linear-gradient( to right,#e2f1d5, #fff, #e2f1d5);
    padding: 0%;
    margin: 0;
}

.mb-3{
    display: inline-flex;
    
}

#Blog h1{
    text-align: center;
    padding: 30px;
}

.Element{
    display:inline-flex;
    text-align: center;
    padding: 100px;
}


.img-zoon{
    transition: all 0,3s;
}

.img-zoon:hover{
    transition: 0.3s;
    transform: scale(1.1);
}