*{
    padding: 0%;   
    display: flexbox;
}

html[data-theme='light']{
    --bg: linear-gradient( to right,#e2f1d5, #fff, #e2f1d5);
    --btn-cor:rgb(235, 78, 78);
    --text-color: black;
    --bg-card: white;
    --bg-roda: white;
    --color-shadow: rgb(223, 223, 223);
    --transitiontheme:color .25s ease-in-out, background-color .25s ease-in-out, border-color .5s ease-in-out, box-shadow .25s ease-in-out;
}

html[data-theme='dark']{
    --bg:linear-gradient( to right,#2e3829, rgb(44, 44, 44), #2e3829);
    --text-color: white;
    --bg-card: gray;
    --bg-roda: black;
    --btn-cor:rgb(235, 78, 78);
    --color-shadow: rgb(0, 0, 0);
    --transitiontheme:color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .25s ease-in-out;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    box-shadow: 0px 0px 10px var(--color-shadow);
    transition: var(--transitiontheme);
}

.row {
        display: flex;
        text-align: justify;
        margin: 0;
        width: 30;
        flex-wrap: wrap;
        justify-content: space-around;
        background-image: var(--bg);
        transition: var(--transitiontheme);
        
}

.col-2{
        flex-basis: 50%;
        min-width: 300px;
        color: var(--text-color);
        transition: var(--transitiontheme);
}

.col-2 img{
        max-width: 100%;
        padding: 50px 0;
        transition: var(--transitiontheme);
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: var(--text-color);
    transition: var(--transitiontheme);
}

.btn-1{
    display: inline-block;
    background-color: var(--btn-cor);
    color: var(--text-color);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration:none;
    transition: var(--transitiontheme);
}

#MV{
    background-image: var(--bg);
    color: var(--text-color);
    transition: var(--transitiontheme);
}


#MV h1{
    text-justify:auto;
    text-align: center;
    color:var(--texto-color);
    transition: var(--transitiontheme);
}

.card {
    display: inline-block;
    padding: 20px;
    text-align: center;
    color:var(--texto-color);
    background-color:var(--bg-card);
    transition: var(--transitiontheme);
    
}

#Novidades{
    background-image: var(--bg);
    color:var(--texto-color);
    transition: var(--transitiontheme);
}

#Novidades h1{
    text-align: center;
    color: var(--text-color);
    transition: var(--transitiontheme);
}

#Blog{
    background-image: var(--bg);
    padding: 0%;
    margin: 0;
    transition: var(--transitiontheme);
}

.mb-3{
    display: inline-flex;
    color: var(--text-color);
    transition: var(--transitiontheme);
}

#Blog h1{
    text-align: center;
    padding: 30px;
    color: var(--text-color);
    transition: var(--transitiontheme);
}

.Element{
    display:inline-flex;
    text-align: center;
    padding: 100px;
    transition: var(--transitiontheme);
}


.img-zoon{
    transition: all 0,3s;
}

.img-zoon:hover{
    transition: 0.3s;
    transform: scale(1.1);
}

.dot{
    position: fixed;
    height: 30px;
    width: 30px;
    background-color: var(--color-dot);
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    box-shadow: 2px 2px 4px var(--color-shadow);
    transition: var(--transitiontheme);
}



.btn btn-primary{
    background-color: var(--btn-cor);
    transition: var(--transitiontheme);
}

.headerfooter{
    background-color: var(--bg-roda);
    text-align: center;
    display: block;
    transition: var(--transitiontheme);
}

#footerbottom{
    text-align: center;
    transition: var(--transitiontheme);
}

#btn-navbar{
    background-color:var(--bg-roda);
    transition: var(--transitiontheme);
}
    
#carrinho{
    color: var(--text-color);
}