h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background-image: linear-gradient( to right,#e2f1d5, #fff, #e2f1d5);
    color: white;
    background-size: 100%;
}

.textopreto{
    color: black;
}

.textobranco{
    color: white;
}

.página{
    background-color: rgb(248, 249, 250);
    margin-left: 5%;
    margin-right: 5%;
}