h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background: var(--bg);
    color: var(--text);
}

.navbar{
    box-shadow: 0px 0px 10px var(--color-shadow);
    transition: var(--transitiontheme);
}

.headerfooter{
    background-color: var(--bg-div);
    transition: var(--transitiontheme);
}

.cardcustom{
    background-color: var(--bg-cards);
    box-shadow: 1px 1px 4px var(--color-shadow);
    transition: var(--transitiontheme);

}

.btn-light{
    transition: var(--transitiontheme);
}

.btn-dark{
    transition: var(--transitiontheme);

}

.página{
    background-color: var(--bg-div);
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 1px 1px 4px var(--color-shadow);
    transition: var(--transitiontheme);

}

.dot{
    position: fixed;
    height: 30px;
    width: 30px;
    background-color: var(--color-dot);
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px var(--color-shadow);
    transition: var(--transitiontheme);

}

.center {
    margin-left: 5px;
  }

html[data-theme='light']{
    --bg: linear-gradient( to right,#dbf0ca, #fff, #dbf0ca);
    --bg-div: rgb(248, 249, 250);
    --text: black;
    --bg-cards: rgb(255, 255, 255);
    --color-dot: #bbb;
    --color-shadow: rgb(223, 223, 223);
    --transitiontheme:color .25s ease-in-out, background-color .25s ease-in-out, border-color .5s ease-in-out, box-shadow .25s ease-in-out
}

html[data-theme='dark']{
    --bg:  linear-gradient( to right,rgb(37, 41, 53), rgb(38, 38, 41), rgb(37, 41, 53));
    --bg-div: rgb(33, 37, 41);
    --text: white;
    --bg-cards: rgb(53, 57, 61);
    --color-dot: rgb(58, 60, 66);
    --color-shadow: rgb(0, 0, 0);
    --transitiontheme:color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out, box-shadow .25s ease-in-out
}