h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background: var(--bg);
    color: var(--text);
}

.navbar{
    box-shadow: 0px 0px 10px var(--color-shadow);
}

.headerfooter{
    background-color: var(--bg-div)
}

.cardcustom{
    background-color: var(--bg-cards);
    box-shadow: 1px 1px 4px var(--color-shadow);
}

.página{
    background-color: var(--bg-div);
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 1px 1px 4px var(--color-shadow);
}

.dot{
    position: fixed;
    height: 30px;
    width: 30px;
    background-color: var(--color-dot);
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
}

.center {
    margin-left: 5px;
  }

html[data-theme='light']{
    --bg: linear-gradient( to right,#e2f1d5, #fff, #e2f1d5);
    --bg-div: rgb(248, 249, 250);
    --text: black;
    --bg-cards: rgb(255, 255, 255);
    --color-dot: #bbb;
    --color-shadow: rgb(233, 233, 233);
}

html[data-theme='dark']{
    --bg: linear-gradient( to right,#2e3829, rgb(44, 44, 44), #2e3829);
    --bg-div: rgb(33, 37, 41);
    --text: white;
    --bg-cards: rgb(53, 57, 61);
    --color-dot: #bbb;
    --color-shadow: rgb(0, 0, 0);
}