h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background-color: indigo;
    color: white;
    background-size: 100%;
}

.textopreto{
    color: black;
}

.textobranco{
    color: white;
}

.página{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}