*{
    padding: 0px;   
    display: flexbox;


}


.row {
        display: flex;
        text-align: justify;
        margin: 0;
        width: 30;
        flex-wrap: wrap;
        justify-content: space-around;
        
}

.col-2{
        flex-basis: 50%;
        min-width: 300px;
}

.col-2 img{
        max-width: 100%;
        padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn-1{
    display: inline-block;
    background-color: rgb(235, 78, 78);
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}